<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <%= chartTitle %>
        </h5>
        <!-- Bar Chart -->
        <div id="pie" style="max-height: 400px"></div>
        <script>
            var Labels = <%- Labels %>;
            var series = <%- amountLabels %>;
            document.addEventListener("DOMContentLoaded", () => {
                new ApexCharts(document.querySelector("#pie"), {
                    series: series,
                    chart: {
                        width: 500,
                        type: 'pie',
                    },
                    labels: Labels,
                    responsive: [{
                        breakpoint: 480,
                        options: {
                            chart: {
                                width: 400
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    }]
                }).render();
            });
        </script>
        <!-- End Bar CHart -->
    </div>
</div>