<div class="card">
    <div class="card-body">
        <h5 class="card-title"><%= chartTitle %></h5>

        <!-- Polar Area Chart -->
        <canvas id="polarAreaChart" style="max-height: 400px"></canvas>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                new Chart(document.querySelector("#polarAreaChart"), {
                    type: "polarArea",
                    data: {
                        labels: ["Red", "Green", "Yellow", "Grey", "Blue"],
                        datasets: [
                            {
                                label: "My First Dataset",
                                data: [0.7, 0.3, 0.7, 0.6, 0.5],
                                backgroundColor: [
                                    "rgb(255, 99, 132)",
                                    "rgb(75, 192, 192)",
                                    "rgb(255, 205, 86)",
                                    "rgb(201, 203, 207)",
                                    "rgb(54, 162, 235)",
                                ],
                            },
                        ],
                    },
                });
            });
        </script>
        <!-- End Polar Area Chart -->
    </div>
</div>