<%- include('head.ejs') %>
    <p>This is the response</p>
    <div>
        <a href="/mm/">Press here to access Marketing manager page</a>
    </div>
    <div>

        <a href="/admin/">Press here to access Admin page</a>
    </div>
    <div>

        <a href="/dmc/">Press here to access DMC page</a>
    </div>
    <div>
        <a href="/sd/">Press here to access Director page</a>
    </div>